@model IEnumerable<LibraryProject.Models.Article>

@{
    ViewBag.Title = "Home Page";
}

<div class="box box-solid">
    <div class="box-body">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item">
                    <img src="~/img/3b4270aa4bb0d804541c1759cef40c87.jpg" alt="First slide">

                    <div class="carousel-caption">
                        First Slide
                    </div>
                </div>
                <div class="item active">
                    <img src="~/img/8a8bbbc0816ae7898babd1186d7735e2.jpg" alt="Second slide">

                    <div class="carousel-caption">
                        Second Slide
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/acc88d22ecbc7ddc27d228f36e47e7f3.jpg" alt="Third slide">

                    <div class="carousel-caption">
                        Third Slide
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <p>
        The total area of the building is about 24,000 square meters, which is composed of the East and West Museum and the Chang'an Campus Temporary Library adjacent to the Friendship Campus. West Museum was built in 1958, in 1984 on the basis of the original cover of the six-story library; East Museum by the end of 1993 by the well-known Hong Kong patriotic Mr. Shao Shifu donated 5 million Hong Kong dollars, the school invested 17.5 million yuan in the original museum built on the east side, For the 10,600 square meters. Chang'an campus temporary library by the teaching of the West Wing temporary library and teaching the East Wing temporary library, an area of about 5,000 square meters, about 25 million books, reading room 21, reading the seat of nearly 500, Of the management model.
    </p>
</div>


