@{
    ViewBag.Title = "Home Page";
}

<div class="box box-solid">
    <div class="box-body">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item">
                    <img src="~/img/3b4270aa4bb0d804541c1759cef40c87.jpg" alt="First slide">

                    <div class="carousel-caption">
                        First Slide
                    </div>
                </div>
                <div class="item active">
                    <img src="~/img/8a8bbbc0816ae7898babd1186d7735e2.jpg" alt="Second slide">

                    <div class="carousel-caption">
                        Second Slide
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/acc88d22ecbc7ddc27d228f36e47e7f3.jpg" alt="Third slide">

                    <div class="carousel-caption">
                        Third Slide
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The library of Northwestern Polytechnical University has been merged with the original Northwest Institute 
            of Technology Library and the former Xi'an Institute of Aeronautics library. Northwest Institute of Technology 
            Library was established in 1938, Xi'an Aviation College Library is the predecessor of 1952 by Jiaotong 
            University, Nanjing University (Centre College), Zhejiang University, Tongji University Library of East 
            China Institute of aviation aviation school four books data, 1956 from Nanjing with the school moved to 
            the west. In 1970, the Department of Aeronautical Engineering of Harbin Military Engineering Institute 
            moved to Northwestern Polytechnical University, which was also incorporated into the library.

        </p>
        <p><a class="btn btn-default" href="/Articles/Details/2">Get more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Information</h2>
        <p>Faculty relation

Consulting service

Text search service

User education and training

Check and check

Paper statistics

Subject literature resources construction

Information push and personalized special service</p>
        <p><a class="btn btn-default" href="/Articles/Details/6">Get more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p> Check the book without fouling, etc. the page books, such as the discovery of a statement to the staff immediately, by the staff with the defacement or page chapter, or by the borrower to take responsibility, and in accordance with the regulations.

            The procedures for borrowing, should verify the borrowed books information and display the content of the computer is consistent.

            The book management procedures, check book return.

            It is prohibited to use another card to borrow books, that will stop using.
</p>
        <p><a class="btn btn-default" href="/Articles/Details/3">Get more &raquo;</a></p>
    </div>
</div>